.modalUpadate{
    :global{
        .ant-modal-title {
          font-size: 20px !important ;
          font-weight: 700px ;
      }
    }    
    p {
        font-size: 14px;
        font-weight: 500;
    }
}